body
{
    font-family: "Courier New Sans Serif";
    font-size: 32px;

    margin-left: auto;
    margin-right: auto;
}

button
{
    text-decoration: underline;
    background-color: transparent;
    border: 1px solid black;

    font-family: "Courier New Sans Serif";
    font-size: 64px;

    width: 200px;
}

.result_number
{
    font-size: 128px;
}

.rng_center
{
    margin-left: auto;
    margin-right: auto;
}

#visualize
{
    font-size: 10px;
}

#rng_body
{
    width: 400px;
}